<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SonicChaosModStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
      <SonicChaosModStudio.Properties.Settings>
            <setting name="RSDKLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="ManiaLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="DataFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdaterHasChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdaterLastChecked" serializeAs="String">
                <value>2017-09-01</value>
            </setting>
            <setting name="UpdaterMinutes" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="UpdaterAutoCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdaterStartCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ModOrder" serializeAs="String">
                <value />
            </setting>
            <setting name="Updating" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstTime" serializeAs="String">
                <value>True</value>
            </setting>
        </SonicChaosModStudio.Properties.Settings>
    </userSettings>
</configuration>